<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Assignment 3</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   <li>
                        <a href="ass1.html">Assignment 1</a>
                    </li>
                    <li>
                        <a href="index.html">Assignment 2</a>
                    </li>
                    <li>
                        <a href="ass3.html">Assignment 3</a>
                    </li>

                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Assignment 3</h1>
                        <hr class="small">
                        <span class="subheading">by Eman Adlaon</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    
                        <h2 class="post-title">
                           What is the difference between ON PAGE and OFF PAGE SEO?

                        </h2>
                        <h3 class="post-subtitle">
                            The difference between on page and off page SEO comes down to control. In on page SEO, you can target a search term through keyword research, create a page, and tweak the content for the best results. You have complete control over your optimization efforts. Off Page SEO is different. It relies more on promotion. These include link building, blogging, social media, and other off page SEO techniques to build awareness. Control is in the hands of your community.
                        </h3>
                    </a>
                    
                </div>
                <hr>
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            Briefly discuss the following SEO guides for OFF-PAGE technique
                        </h2>
                        <h3 class="post-subtitle">
                          Off page SEO refers to techniques that can be used to improve the position of a web site in the search engine results page (SERPs). Many people associate off-page SEO with link building but it is not only that. In general, off Page SEO has to do with promotion methods – beyond website design –for the purpose of ranking a website higher in the search results.



                        </h3>
                    </a>
                    
                </div>
                <hr>
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            IS IT POSSIBLE TO COMBINE STRATEGIES? IF YES, WHICH STRATEGIES WOULD YOU LIKE TO IMPLEMENT? WHY?
                        </h2>
                        <h3 class="post-subtitle">
                        <br>
                            I would choose the domain name strategy. When starting a new website, one of the first and most important decisions you have to make is choosing a domain name. That choice will impact the website’s success in nearly every area, included search engine optimization (SEO) and social media marketing (SMM). Many SEO strategists would purchase exact match domains (EMDs), which are domains that exactly match the keyword phrase they are targeting. For example, if they want to rank for “buy green widgets” the person might purchase BuyGreenWidgets.com. EMDs offered two advantages.
                        </h3>
                    </a>
                    
                </div>
                <hr>
                
                    
                
                <hr>
                <!-- Pager -->
                

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Adlaon Enterprises, 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
