<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Assignment 2</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="ass1.html">Assignment 1</a>
                    </li>
                    <li>
                        <a href="index.html">Assignment 2</a>
                    </li>
                    <li>
                        <a href="ass3.html">Assignment 3</a>
                    </li>

                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Assignment 2</h1>
                        <hr class="small">
                        <span class="subheading">by Eman Adlaon</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            IN YOUR OWN WORDS, WHAT IS THE DIFFERENCE BETWEEN SEO AND SEM?

                        </h2>
                        <h3 class="post-subtitle">
                            The difference between SEO and SEM is essentially that Search Engine Optimization is a piece of Search engine marketing or Search promoting as it is generally known. Both procedures point in expanding perceivability in web indexes. 
Web optimization is about enhancing your site to show signs of improvement rankings in the query items while SEM goes past SEO. It includes different techniques that can get you more web search tool guests like PPC advertising. 
As per Search Engine Land, Search Engine Marketing is "the way toward picking up site movement by buying advertisements on web indexes," while Search Engine Optimization is characterized as "the way toward getting activity from the free, natural, article or regular list items on web search tools."

                        </h3>
                    </a>
                    
                </div>
                <hr>
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            Different SEO Strategies
                        </h2>
                        <h3 class="post-subtitle">
                           Domain Name Strategy <br><br>
The first and the most important decision you have to create is choosing the domain name. It has a great impact of the website’s success in nearly every area, included the SEO and the social media marketing (SMM). 

Linking Strategy<br><br>
The landscape of SEO and link strategy is always changing, and today, the importance of building high-quality links has never been higher. The need to understand and implement high-quality campaigns is essential if you're going to compete and thrive online, and that isn't going to change any time soon.

Keyword Strategy<br><br>
Keyword Strategies are essential in developing for winning search engine marketing campaigns. Keyword Strategy must be involved selecting high performance keyword that is applicable traffic to the business. Using the best keyword strategies have a chance on highly relevant keywords, which is keyword is closely to the business.</br>

Meta Description tags strategy<br><br>
The meta description tag in HTML is the 160 character snippet used to summarize a web page’s content. Search engines sometimes use these snippets in search results to let visitors know what a page is about before they click on it. Crafting a readable, compelling description using important keywords can improve the rate of the page.

Alt tags strategy<br><br>
Alt tags (also known as alt attribute and alt description) is an image tags that provides a text alternative for search engines.

Search Engine Indexing Strategy<br><br>
Search engine indexing is the process of a search engine collecting and stores data. It is the search engine index that provides the results for search queries. Without the search engine index, the search engine would take time and effort every time the search query was initiated, as search engine would have to search not only every web page or piece of data that has to do.
                        </h3>
                    </a>
                    
                </div>
                <hr>
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            IS IT POSSIBLE TO COMBINE STRATEGIES? IF YES, WHICH STRATEGIES WOULD YOU LIKE TO IMPLEMENT? WHY?
                        </h2>
                        <h3 class="post-subtitle">
                        <br>
                            I would choose the domain name strategy. When starting a new website, one of the first and most important decisions you have to make is choosing a domain name. That choice will impact the website’s success in nearly every area, included search engine optimization (SEO) and social media marketing (SMM). Many SEO strategists would purchase exact match domains (EMDs), which are domains that exactly match the keyword phrase they are targeting. For example, if they want to rank for “buy green widgets” the person might purchase BuyGreenWidgets.com. EMDs offered two advantages.
                        </h3>
                    </a>
                    
                </div>
                <hr>
                
                    
                
                <hr>
                <!-- Pager -->
                

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Adlaon Enterprises, 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
